<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>>Andy Mecke's About Me Page</title>

    <link rel="stylesheet" type="text/css" href="styles/stylesAbout-Me.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:8080/home"><i class="fa fa-home"></i>&nbsp&nbsp&nbspAndy Mecke</a>
      <div class="goRight">
        <a href="http://localhost:8080/about-me">About me</a>
        <a href="http://localhost:8080/projects">Projects</a>
        <a href="http://localhost:8080/career">Career</a>
        <a href="http://localhost:8080/collection">Collection</a>
        <a href="http://localhost:8080/connections">Connections</a>
      </div>
    </div>
    <div class="grid">
      <div class="item1">
        1
      </div>
      <div class="item2">
        2
      </div>
      <div class="item3">
        <div class="card">
          <img src="images/Selfie.png" alt="Avatar" class="Avatar">
          <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
      </div>
      <div class="item4">
        4
      </div>
      <div class="item5">
        5
      </div>
      <div class="item6">
        6
      </div>

    </div>


    <script type="text/javascript" src="js/appHome.js"></script>
  </body>
</html>
