<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>>Andy Mecke's About Me Page</title>

    <link rel="stylesheet" type="text/css" href="styles/stylesCareer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:8080/home"><i class="fa fa-home"></i>&nbsp&nbsp&nbspAndy Mecke</a>
      <a href="http://localhost:8080/about-me">About me</a>
      <a href="http://localhost:8080/projects">Projects</a>
      <a href="http://localhost:8080/career">Career</a>
      <a href="http://localhost:8080/collection">Collection</a>
      <a href="http://localhost:8080/connections">Connections</a>
    </div>
    <div class="grid">

      <div class="item1">

      </div>

      <div class="item2">
        <!-- blank space -->
      </div>

      <div class="item3">
        <h1 class="title">Employment/Volunteering History</h1>
      </div>

      <div class="item4">
        <button class="accordion"><img src="images/UPS-logo.png" alt="" class="logo">&nbsp&nbspUPS</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <button class="accordion">Target</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <button class="accordion">Stonecreek</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="item5">
        <!-- blank space -->
      </div>
      <div class="item6">
        <p class="subtitle">This page has all of my previous employment/volunteering history. Click one!</p>
      </div>
    </div>



    <script type="text/javascript" src="js/appCareer.js"></script>
  </body>
</html>
