<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>>Andy Mecke's About Me Page</title>

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:8080/home"><i class="fa fa-home"></i>&nbsp&nbsp&nbspAndy Mecke</a>
      <a href="http://localhost:8080/about-me">About me</a>
      <a href="http://localhost:8080/projects">Projects</a>
      <a href="http://localhost:8080/career">Career</a>
      <a href="http://localhost:8080/collection">Collection</a>
      <a href="http://localhost:8080/connections">Connections</a>
    </div>
    <h1>Connections page</h1>


    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
