<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Andy Mecke's website for everything he is willing to share on the internet.</title>
    <!-- Styles / css -->
    <link rel="stylesheet" type="text/css" href="styles/stylesHome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>





    <div class="topnav">
      <a class="active" href="http://localhost:8080/home"><i class="fa fa-home"></i>&nbsp&nbsp&nbspAndy Mecke</a>
      <div class="goRight">
        <a href="http://localhost:8080/about-me">About me</a>
        <a href="http://localhost:8080/projects">Projects</a>
        <a href="http://localhost:8080/career">Career</a>
        <a href="http://localhost:8080/collection">Collection</a>
        <a href="http://localhost:8080/connections">Connections</a>
      </div>
    </div>

    <div class="grid">
      <div class="item1">
        
      </div>
      <div class="item2">
        <div class="body-text">
          <p class="text-top">Hello!</p>
          <p class="text">Thanks For Visiting My Website About <strong class="theYellow">Me</strong>, <strong class="theYellow">ANDY MECKE</strong></p>
          <p class="text">Follow The Tabs At Top To Traverse The Site</p>
          <p class="text">This Website Was Fully Coded By <strong class="theYellow">Me</strong></p>
        </div>
      </div>
      <div class="item3">

      </div>
    </div>





    <script type="text/javascript" src="js/appHome.js"></script>
  </body>
</html>
